@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
}
#main-body{
    background-color: #F9F9F9;
}
ul{
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom:0;
}
p{
    margin-bottom:0;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: #D30000;
    box-shadow: none;
}
/*===============header===================*/
.header-nav {
background: #00c2d5;
}
header#header {
      top: 0;
    width: 100%;
    position: sticky;
    z-index: 1000;
}
.header {
    padding: 1rem 0;
}
.logo-col {
    width: 156px;
    margin: auto 0;
}

.header-nav nav.navbar.navbar-expand-lg {
    padding: 0;
}
.header-nav .navbar-expand-lg .navbar-nav .nav-link{
    padding:0;
}
.header-nav ul.navbar-nav.menu-details {
    padding: 0.4rem 0;
}
.header-nav ul.navbar-nav.menu-details li {
    margin-right: 18px;
}
.menu-col.top-header ul li a i {
    margin-right: 4px;
}
.header-nav ul.navbar-nav.menu-details li a {
    font-size: 14px;
    color: white;
}
.header-nav ul.navbar-nav.menu-details.right-menu.ml-auto li {
    margin-right: 0;
    margin-left: 18px;
}

ul.navbar-nav.menu-details.right-menu li a i {
    width: 24px;
    height: 24px;
    background: #F6F6F6;
    text-align: center;
    line-height: 24px;
    border-radius: 24px;
    margin-right: 8px;
    font-size: 10px;

}
.mid-head-details{
    display: flex;
    padding:6px 0;
}
.flex-col{
        flex: 1 1 0%;
}
.head-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.search-bar-col {
   margin: auto 15px;
    flex: 1 1 0%;
}
.drop-col {
        flex: 1 1 0%;
}
.menu-col.top-header {
    margin: auto 0;
}
.top-header ul li {
    list-style: none;
    margin-left: 17px;
}
.menu-col.top-header ul li a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}
li#menu-toggle {
    position: relative;
}
.badge-light {
    color: #ffffff;
    background-color: #ff3c20;
    position: absolute;
    top: -6px;
    right: 4.5rem;
    border-radius: 50%;
    min-height: 14px;
    min-width: 14px;
    padding: 4px;
    font-size: 7px;
}
ul.navbar-nav.menu-details.right-menu li a.color-red i{
    color: #D30000;
}
ul.navbar-nav.menu-details.right-menu li a.color-blue i{
    color: #5AB7D4;
}
.search-bar .form-control {
    border-radius: 8px;
    height: 48px;
    border-color: #DDDDDD;
    font-size: 14px;
}
.search-bar{
    position: relative;
}
.search-bar i {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pickup-selection.form-group {
    margin: auto 0;
}
.pickup-selection.form-group span {
    font-size: 14px;
    font-weight: 400;
}
.pickup-selection.form-group span.pickup {
    font-weight: 700;
}
.pickup-selection .dropdown .btn {
    cursor: pointer;
    background: transparent;
    margin: 0px;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    
    color: black;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    height: 48px;
    width: 100%;
}
.pickup-selection .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.8em;
    vertical-align: middle;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #2E3A59;
    font-weight: 800;
}
.pickup-selection .dropdown img {
    margin-right: 10px;
}
.middle-navigation nav.navbar.navbar-expand-lg {
    padding: 0;
}


/*=====================home page css====================*/
.content-padding{
    padding-top: 1rem;
}
.column1 {
    max-width: 20%;
    flex: 0 0 20%;
}
.column {
    padding-left: 6px;
    max-width: 80%;
    flex: 0 0 80%;
}

.sidebar {
    border-radius: 6px;
    padding: 1rem;
}
.sidebar h5 {
    color: #24211F;
    font-weight: 600;
}
.sidebar ul{
    padding-left: 14px;
}
.sidebar ul li{
    margin:14px 0;
}
.sidebar ul li a{
    font-size:14px;
    color: #535353;
    text-decoration: none;
}
.sidebar ul li a span {
    float: right;
    width: 28px;
    height: 28px;
    background: #F6F6F6;
    text-align: center;
    border-radius: 20px;
    line-height: 28px;
    font-size: 12px;
}
.banner-details {
    background-color: #5AB7D4;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    background-image: url(../images/new-img1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom:1rem;
    background-size: contain;
}
.banner-details h5{
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;

}
.banner-details p {
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.food-details {
    display: flex;
    justify-content: space-between;
}
.display-details .food-column {
    width: 20%;
    flex: 0 0 20%;
    padding-left: 10px;
}
.display-details {
    padding-right: 15px;
        padding-left: 5px;
}

.product-details{
    background-color:white;
    border-radius:10px;
    position: relative;
    padding: 1rem;
}
.product-details .onsale-details {
    position: absolute;
    left: 0;
    top: 0;
}
.product-details .onsale-details span {
    background: #FEC601;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 14px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-details .top-img {
    position: absolute;
    top: 4px;
    right: 1px;
    width: 25px;
    z-index: 9;
}
.product-details .top-img img {
    width: 18px;
    margin-bottom:7px;
}
.product-details .top-img img.b {
    width: 20px;
}
.product-details .food-img {
    height: 200px;
    padding-top: 3rem;
}

.product-details .food-content h6 {
    font-size: 13px;
    color: #414142;
}
.product-details .food-content p.weight {
    font-size: 12px;
    color: #696969;
    margin: 7px 0;
}
.product-details .food-content p.weight span {
    float: right;
}
.product-details .food-content p.price span {
    font-weight: 600;
}
.product-details .food-content p.price {
    font-size: 14px;
    font-weight:500;

}
.product-details .food-content p.price del {
    font-size: 10px;
    margin-left: 10px;
}

.product-details a.btn.btn-list {
    font-size: 13px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0px;
}

.feature-details{
    margin:2rem 0 1rem;
}
.food-details.feature-details h5 {
    color: #24211F;
    font-weight: 600;
    /* font-family: poppins; */
}


.feature-details a{
    display: inline-block;
    color: #0066c0;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}

.owl-nav, .owl-prev{
    font-size:0;

}
.owl-prev:before {
    content: "\f104";
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius:50px;
    border:1px solid #E7E7E7;
    text-align: center;
    color: #888;
    background: white;
    box-shadow: 0 3px 3px 0 #ccc;
    top: 26%;
    left: -14px;
}
.owl-next:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    border-radius:50px;
    border:1px solid #E7E7E7;
    text-align: center;
    color: #888;
    background: white;
    box-shadow: 0 3px 3px 0 #ccc;
    right:-14px;
    top: 26%;
}
.owl-carousel .owl-item .top-img img {
    width: 20px;
}
.owl-carousel .owl-item .top-img img.b{
    width: 22px;
}
.fresh-food-details{
    margin: 2.5rem 0 0rem;
}
.fresh-food-details img{
    width: 100%;
}
.fresh-food-details h5{
    color: #24211F;
    font-weight: 500;
    margin-top:10px;
    font-size:18px;
    margin-bottom:5px;

}

.fresh-food-details p{
    color: #535353;
    font-size:14px;
}
 button.btn.btn-order {
    background: #5AB7D4;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    height: 42px;
    padding: 0 16px;
    margin-top: 10px;
        transition: 0.5s;
}

button.btn.btn-order:hover {
    background: #258cac;
}

.cart-button {
    position: relative;
    outline: 0;
    color: #fff;
    border: 1px solid #dc2a27;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    line-height: 0px;
    overflow: hidden;
    background: #D30000;
    height: 33px;
    color: white;
    font-size: 13px;
    font-weight:600;
    margin: 0.5rem 0;

}
.cart-button:hover{
    background-color:#b31f1d;
}
.cart-button:focus {
    outline: none !important
}

/*.cart-button .fa-plus {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 22%;
    font-size: 1.2em;
    transform: translate(-50%, -50%)
}*/

.cart-button .fa-circle-thin {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -20%;
    font-size: 1.5em;
    transform: translate(-50%, -50%)
}

.cart-button .fa-check {
    position: absolute;
    z-index: 1;
    top: -52%;
    left: 20%;
    font-size: 0.7em;
    transform: translate(-50%, -50%)
}
button.cart-button.clicked span {
    position:relative;
    left: 0;
}
.cart-button span {
    position: absolute;
    left: 49%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
        font-weight: 700;
}


.cart-button span.added {
    opacity: 0
}

/*.cart-button.clicked .fa-plus {
    animation: addicon 2s ease-in forwards
}*/

.cart-button.clicked {
    animation: color 2s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 0s ease-in forwards
}



@keyframes addicon {
    0% {
        opacity: 1
    }

    30%,
    100% {
        opacity: 0
    }
}

@keyframes circle {
    0% {
        left: -10%
    }

    100% {
        left: 20%
    }
}

@keyframes check {

    0%,
    40% {
        top: -20%
    }

    60% {
        top: 48%
    }

    100% {
        top: 48%
    }
}

@keyframes addcart {

    0%,
    30% {
        opacity: 1
    }

    30%,
    100% {
        opacity: 0
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes color {
    
}

input.in-num {
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    margin-top: -10px;
        width: 60px;
}

input.in-num:focus {
    outline: 0!important;
    background: none;
}
span.minus.decrement {
    margin-left: 12px;
}
.skin-5 .num-in span {
    font-size: 16px;
    display: block;
}
span.plus.increment {
    float: right;
}
span.minus.dis.decrement {
    margin-left: 12px;
        float: left;
}









.shop-section {
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 8px;
}
.shop-section .shop-border.food-details {
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    margin: 1rem 0;
    padding: 0.5rem;
}
.shop-details h5 {
    font-weight: 600;
}

.shop-inner-details .cart-button.cart1 input.in-num{
    margin-left: -50px;
}
.shop-inner-details button.cart-button.cart1 {
    width: 30px;
    height: 30px;
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    transition: 0.5s;
}
.shop-inner-details .food-col {
    margin: auto 0;
}
.shop-inner-details .cart-col{
    text-align: right;
}
.shop-inner-details button.cart-button.cart1.clicked{
    width:100%;
    background-color: #D30000;
}
.shop-inner-details  span.minus.decrement {
    margin-left: 4px;
}
.shop-inner-details  span.plus.increment {
    margin-top: -11px;
    margin-right: -7px;
}

.shop-inner-details .cart-button.cart1  span.add-to-cart {
    color: black;
}
.shop-inner-details button.cart-button.cart1:hover span.add-to-cart{
    color: white;
}
.shop-inner-details button.cart-button.cart1:hover{
    background-color: #D30000;
    border-color: #D30000;
}

.shop-section .shop-border.food-details .shop-inner-details {
    margin-left: 8px;
}
.shop-section .shop-border.food-details .shop-inner-details p{
    color: #7A726D;
    font-size:14px;
}
.shop-section .shop-border.food-details .shop-inner-details .food-price p{
    color: black;
    font-size:16px;
}



.subscribe-info {
    background: #00506A;
    border-radius: 8px;
    padding: 1rem 0;
}
.subscribe-details h5 {
    color: white;
    font-weight: 500;
    font-size:18px;
    margin-bottom:5px;
}
.subscribe-details p {
    color: white;
    margin-bottom: 1rem;
    font-weight:400;
    font-size:14px;
}
.subscribe-details .form-group{
    width:100%;
    padding: 0 5px;
}
.subscribe-details form .food-details .form-group .form-control {
    width: 292px;
    height: 48px;
    border-radius: 8px;
    font-weight: 400;
}
.footer {
    background: #F5F5F5;
    padding: 1rem 0;
    margin-top:2rem;
    border-bottom: 1px solid #DDDDDD;
}
.footer-content h5 {
    margin-bottom: 0.8rem;
    font-size:18px;
}
.footer-content p{
    font-size:12px;
    color: #7A726D;
}
.footer-content ul li{
    margin-bottom: 8px;
}
.footer-content ul li a{
    font-size:13px;
    color: #2E94B2;
}
.footer-content .contact-details i{
    font-size:14px;
    color: #2E94B2;
}
.footer-content .contact-details h6{
    color: #24211F;
    font-size:14px;
    font-weight:500;
}
.footer-content .hours-details{
    margin-bottom:0.6rem;
}
.footer-content.alignment{
    text-align: center;
}
.custom-checkbox {
    margin: 0.5rem 0;
    height: 30px;
    position: relative;
}
input[type="radio"][id^="myradio"] {
  display: none;
}
input[type="checkbox"][id^="mycheckbox"] {
  display: none;
}

.payment-method label {
    border: 1px solid #BBBBBB;
    padding: 0rem 0.6rem;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;

}
.date-details .pickup-date.payment-method {
    margin-right: 0.6rem;
}
.pickup-date.payment-method {
    display: inline-block;
}
.date-custom-select{
    text-align: center;
}
.pickup-date.payment-method :checked + label {
    background-color: #5AB7D4;
    border-color: #5AB7D4;
    color: white;
}
.dropdown.more-size {
    background: #E5E5E5;
    width: 28px;
    height: 20px;
    position: absolute;
    right: -3px;
    top: 3px;
    border-radius: 2px;
}
.dropdown.more-size button{
    padding: 0 7px;
    font-size: 12px;
    color: #5AB7D4;
}
.dropdown.more-size  .dropdown-menu{
    min-width:0;
    padding:0;
}
.dropdown.more-size .dropdown-item{
    padding: 0 5px;
}

.dropdown.more-size button:after{
    display: none;
}
.bottom-footer {
    padding: 0.5rem 0;
}

.copyright-details {
    margin: auto 0;
}
p.copyright-content {
    color: #7A726D;
    margin-bottom: 0;
    font-size: 14px;
}
.footer-right {
    float: right;
}
.footer-right ul li {
    list-style: none;
    margin-left: 28px;
}
.footer-right ul li a {
    color: #2E94B2;
    text-decoration: none;
    font-size: 14px;
}

/*===================dropdown header modal design======================*/
.drop-modal .modal-dialog {
    max-width: 465px;
    position: absolute;
    right: 24%;
    top: 16%;
}
.drop-modal .modal-body{
    padding:1rem 2.5rem;
}
.drop-modal .modal-content {
    border-radius: 12px;
}
.order-prefrence {
    margin-top: 0.7rem;
}
.drop-modal .order-prefrence h5{
    font-size:18px;
    font-weight:500;
    margin-bottom:6px;
}
.drop-modal .order-prefrence p{
    font-size: 12px;
    color: #575757;
    margin-bottom:1.4rem;
}
.delivery-tabs .nav-tabs .nav-link {
    border: 1px solid #C8C8C8;
    border-radius: 20px;
    font-weight: 400;
    color: black;
    font-size: 14px;
    width: 175px;
    height: 40px;
    text-align: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 2px solid #C90000;
    border-color:#C90000;
    font-weight:600;
}
.delivery-tabs h6{
    color: #575757;
    font-size:12px;
    margin-bottom:0.6rem;
}
.delivery-tabs form.input-form {
    margin-top: 1rem;
}
.delivery-tabs form.input-form label{
    font-size:14px;
    color: #575757;
}
.delivery-tabs form.input-form .form-control {
    border-radius: 20px;
    height: 40px;
    font-size:14px;
}
.modal-content .modal-body .map p{
    color: #00506A;
}
.modal-content .modal-body .start-btn .btn {
    color: white;
    background: #D30000;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    margin: 1.5rem 0 1rem;
}
.modal-content .modal-body .exit-details a{
    text-decoration: none;
    color: #6C6C6C;
    font-size: 12px;
}
/*===================/dropdown header modal design======================*/
@media (min-width: 1400px){
    .container-fluid{
        max-width: 1400px;
    }
    .container-fluid.container-width{
        max-width: 100%;
    }
.drop-col {
    flex: 0 0 auto;
}

}





/*======================for minisidebar and arrow click sidebar=======================*/
.container1 {
    background-color: white;
    position: fixed;
    
    height: 100%;
    /* transition: width .3s; */
    z-index: 1000;
    border: 1px solid #E5E5E5;
    top: 37px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 0;
    right: 59px;
    width: 0;
    margin-right: -66px;
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}
.container1:before{
    border: solid #E5E5E5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    content: "";
    position: fixed;
    display: block;
    margin-top: 43px;
    margin-left: -5px;
    background: white;
}
.container1.open:before{
    display: none;
}
.container1.open {
  width: 266px;
}
.background {
    background: #5AB7D4;
    height: 42px;
}  
.closeburger {
    position: relative;
    top: 7px;
    left: 18px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: #56AAC5;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white
}
.open .closeburger{
    background: transparent;
    left:87%;
    top: 4px;
}
.closeburger:before {
  content: '\f104';
  top: 5px;
  transition: top 500ms ease 500ms, transform 500ms ease;
  font-family: fontawesome;
}

.open .closeburger:before {
  content: '\f00d';
  top: 5px;
  transition: top 500ms ease 500ms, transform 500ms ease;
  font-family: fontawesome;
  font-size:14px;
}
.container1 .main-cart{
    display: none;
}
.container1.sidebar-front{
    display: block;
}
.container1.open .main-cart{
    display: block;
      
}
.container1.open .sidebar-front{
    display: none;
}
.food-images {
    width: 40px;
    margin: auto;
}
.container1 .sidebar-front .food-images img{
    width: 100%;
    margin-top: 1.5rem;
}
.main-cart .cart-padding{
      padding: 0.8rem;
}
.main-cart .cart-title{
    position: absolute;
    top: 12px;
}
.main-cart .cart-title h6{
    font-size:14px;
    color: white;
}
.main-cart .estimate-order {
    background: #F6F6F6;
    border-radius: 12px;
    padding: 0.8rem;
}
.main-cart .estimate-order h6{
    color: #24211F;
    font-weight:600;
    margin-bottom:5px;
}
.main-cart .estimate-order h6 span{
    font-size:12px;
    font-weight:500;
}
.main-cart .estimate-order p{
    font-size:12px;
    color: #696969;
}
.main-cart button.btn.btn-proceed {
    background: #FEC601;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin: 1rem 0;
    height: 40px;
}
.cart-inner-details {
    margin-left: 10px;
}
.cart-food-details{
    background: #EEEEEE;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
}
.cart-food-details h6{
    font-size: 14px;
    color: #333333;
}
.cart-food-details h6 span{
    float: right;
    font-size:12px;
    margin-top:1px;
}
.cart-inner-details h6{
    font-size:13px;
    color: #24211F;
}
.close-btn h6{
        width: 22px;
    height: 22px;
    background: #F6F6F6;
    border-radius: 50px;
    text-align: center;
    line-height: 22px;
    margin-top: 0.4rem;
    cursor: pointer;
}
.skin-2 .num-in {
        background: #FFFFFF;
    /* box-shadow: 0px 1px 4px rgb(0 0 0 / 15%); */
    border-radius: 25px;
    height: 22px;
    width: 61px;
    float: left;
    border: 1px solid gray;
}

.skin-2 .num-in span {
  width: 35%;
  display: block;
height: 21px;
  float: left;
  position: relative;
  cursor: pointer;
}
.cart-price {
    margin-left: 10px;
}


.skin-2 .num-in span:before, .skin-2 .num-in span:after {
 content: '';
    position: absolute;
    background-color: #667780;
    height: 1.4px;
    width: 7px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
            float: left;
    width: 30%;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 12px;
    color: black;
}


/*======================/for minisidebar and arrow click sidebar=======================*/

/*======================/for toggle and expand minisidebar and content=======================*/

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right:59px;
}
#wrapper.toggled .container1 {
  width: 66px;
}
#wrapper.toggled .container1.open {
    width: 266px;
    transition-property: none;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -66px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-right: 0;
  }
  
  #sidebar-wrapper {
    width: 0;
  }
  
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
}
/*======================/for toggle and expand minisidebar and content=======================*/

/*====================single product details page==========================*/
#myCarousel{
     padding: 1rem;
    }   
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}
#myCarousel .carousel-inner .carousel-item{
    margin:1.5rem 0;
}
#myCarousel .carousel-indicators > li {
    width: 104px;
    height: 95px;
    text-indent: initial;
    opacity: 1;
    border: 1px solid #E8E8E8;
    border-radius:8px;
    line-height: 95px;
}
#myCarousel ul{
    padding: 0;
}
.carousel-indicators li{
    margin-left:0;
}
#myCarousel .carousel-indicators > li.active {
    border-color:#D30000;
}

#myCarousel .list-inline-item:not(:last-child) {
    margin-right: 9px;
}
ul.carousel-indicators.product-slider li a img {
    width: 100%;
}
ul.carousel-indicators.product-slider {
    padding-left: 8px;
}
.overlay {
    position: relative;
}

.overlay:after {
    content: "\f04b";
    font-family: 'FontAwesome';
    position: absolute;
    left: 45%;
    width: 20px;
    height: 20px;
    background: #FF9933;
    border-radius: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    top: 40%;
    color: white;
}


.single-pro.product-details .food-maintitle h5{
    color: #24211F;
    font-weight:600;
}
.single-pro.product-details .label-img {
    margin: 1rem 0;
}
.single-pro.product-details .label-img img{
    width:26px;
}
.single-pro.product-details .food-content  p.price {
    font-size: 18px;
}
.single-pro.product-details .cart-button {
    border-radius: 50px;
    height: 46px;
    font-size: 14px;
    height: 46px;
}

.single-pro.product-details .skin-5 .num-in span {
    font-size: 32px;
}
.single-pro.product-details input.in-num{
    font-weight: 600;
    font-size: 20px;
}
.single-pro.product-details .list-col{
    padding-left:0;
}
.single-pro.product-details button.btn.btn-list {
    background: #DDDDDD;
    height: 46px;
    border-radius: 40px;
    width: 149px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.single-pro.product-details .shared-details {
    width: 46px;
    height: 46px;
    background: #5AB7D4;
    text-align: center;
    line-height: 46px;
    border-radius: 30px;
    color: white;
    margin-top: 8px;
    margin-left: 2px;
}
.single-pro.product-details .category-details p{
    color: #696969;
    font-size:14px;
    margin-bottom:3px;
}




/*==============modal for navbar===============*/
.sidebar-modal.modal.left .modal-dialog
{
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.sidebar-modal.modal.left .modal-dialog
 {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.sidebar-modal.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.sidebar-modal.modal.left .modal-body {
  padding:0;
}

.sidebar-modal.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.sidebar-modal.modal.left.fade.show .modal-dialog {
  left: 0;
}


.sidebar-modal.modal.left .modal-content
{
  border-radius: 0;
  border: none;
}

.sidebar-modal.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 250px;
}
.sidebar-modal .modal-header {
    padding: .5rem 1rem;
}
.dropdown.bootstrap-select.form-control:hover {
    background-color: #e8e8e8;
}
