@media screen and (max-width: 767px){
	.cart-width-mob {
	    text-align: right;
	}
	.pickup-selection {
    width: 100%;
	}
	.pickup-selection  .dropdown-menu {
    width: 100%;
	}
	.mob-header {
    margin: auto;
	}
	span.total-product {
    right: 24px;
    top: 14px;
	}
	.top-header ul li a {
    font-size: 14px;
	}
	.footer-right ul li {
    margin-left: 0;
	}
	.footer-right ul {
    flex-direction: column;
	}
	.footer-right {
    float: left;
	}
	.footer-shop-info {
    max-width: 100%;
	}
	.footer-post {
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 9px;
    margin-bottom: 1rem;
	}
	h6.foo-title {
    margin-top: 1rem;
    margin-bottom: 5px;
	}
	.charge-title {
    margin-left: 0;
    margin-bottom: 1rem;
	}
	h6.account-title.info {
    margin-top: 1rem;
	}
	.payment-col1 {
    padding-right: 15px;
	}
	.address-details {
    margin-bottom: 1rem;
	}
	.payment-col {
    padding-left: 15px;
	}
	.order-date {
    margin-top: 1rem;
	}
	.order-status {
    text-align: left;
    margin-top: 1rem;
	}
	.grid-divider>[class*='col-']:nth-child(n+2):before {
    border:0;
	}
	.shop-add p {
    width: 100%;
	}
	.dpro-details p {
    width: max-content;
    padding-right: 2rem;
	}
	.order-table .table thead th {
    padding-right: 2rem;
	}


	.payment-method.contact-info label {
    width: 100%;
    margin-bottom: 1rem;
	}
	.payment-method label {
    margin-right: 0;
    margin-bottom: 1rem;
	}
	.select-reorder {
    margin-top: 1rem;
	}
	.select-reorder.check-reorder {
    display: block;
    margin-top: 8px;
	}
	.bottom-chebtn {
    margin-top: 12px;
	}
	.est-total p span {
    margin-left: 0;
    float: right;
	}
	.bottom-chebtn .btn.btn-cart {
    width: 100%;
	}
	.bottom-chebtn .btn.btn-cart {
    width: 220px;
	}
	.order-breadcrumb .breadcrumb {
    margin-bottom: 5px;
    margin-top: 1rem;
	}
	/*==================landing page==============*/
	.main-content {
    width: 100%;
	}
	.food-col {
    width: 50%;
    flex: 0 0 50%;
     margin-bottom: 1rem;
	}
	.top-header ul li {
    margin-left: 28px;
	}
	.top-header ul li:after {
    left: 11px;
	}
	.sidebar-mob .btn {
    padding-left: 0;
	}
	.sidebar-mob span {
    color: white;
	}
	.bar-width-mob .btn {
    padding:.375rem 0 0 0;
	}
	.bar-width-mob span {
    border: 2px solid #D30000;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
	}
	.top-header {
    margin-bottom: 1rem;
	}
	.search-bar-mob {
    margin-top: 1rem;
	}
	.pickup-selection.pickup-select-mob.form-group {
    margin: 1rem 0;
	}
	h5.shop-title {
    font-size: 18px;
	}
	.add-title {
    font-size: 12px;
	}
	.rating-star span {
    font-size: 12px;
	}
	.food-info {
    display: block;
	}
	.avg-details span {
    font-size: 11px;
	}
	.food-col.item-content-col {
    margin-top: 0;
	}
	a.see-more {
    font-size: 14px;
    margin-left: 0;
    display: block;
	}
	.rating-total p {
    font-size: 12px;
	}
	a.btn.btn-cart {
    font-size: 14px;
	}
	.date-custom-select .payment-method label {
    margin-bottom: 0;
	}
	.schedule-btn a.btn.btn-cart {
    font-size: 10px;
	}
	.applicable-details {
    text-align: left;
    margin-top: 1rem;
	}	
	.checkout-main {
    font-size: 20px;
	}
	.emtycart h6 {
    font-size: 14px;
	}
	.shop-add p {
    width: max-content;
    margin-right: 1rem;
	}
	td.odfood-qty {
    padding-right: 1rem;
	}
	.shop-add.checkout-add p {
    width: auto;
	}
	.drop-img {
    margin: auto 10px;
	}
	.display-drop {
    display: flex;
	}
	.address-title{
		text-align:left;
	}
	.pickup-selection .dropdown .btn{
		height:auto;
		position: relative;
    padding-left: 0;
	}
	.pickup-selection .dropdown img {
    margin-right: 5px;
	}
	.pickup-selection .dropdown-toggle::after {
    
    position: absolute;
    top: 27px;
    right: 50px;
	}
	.dropdown-item.pickup-item {
    padding: 0;
	}
	.top-header .content-right {
    margin-right: 0;
	}
	.search-bar {
    margin: 0px 0px 0px 0px;
	}
	
}

@media screen and (max-width: 320px){
	.top-header ul li {
    margin-left: 20px;
	}
	span.total-product {
    right: 18px;
	}
	.food-col {
    width: 100%;
    flex: 0 0 100%;
	}

}




@media screen and (min-width: 768px) and (max-width: 991px){
	.cart-width-mob {
	    text-align: right;
	}
	.pickup-selection {
    width: 100%;
	}
	.pickup-selection  .dropdown-menu {
    width: 100%;
	}
	span.total-product {
    top: 13px;
    right: 27px;
	}
	h6.foo-title {
    margin-top: 1rem;
	}
	.footer-right ul li {
    margin-left: 20px;
	}
	.footer-post {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding-right: 15px;
    padding-left: 15px;
	}
	.footer-shop-info {
    max-width: 33.33%;
	}
	.mob-header {
    margin: auto;
	}
	.pickup-selection.pickup-select-mob.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
	}
	.card-number span {
    margin-right: 1px;
	}
	.dpro-details p {
    width: max-content;
    padding-right: 2rem;
	}
	.order-table .table thead th {
    padding-right: 2rem;
	}
	.order-date {
    margin-top: 1rem;
	}
	.sidebar-mob .btn {
    padding-left: 0;
	}
	.sidebar-mob span {
    color: white;
	}
	.bar-width-mob .btn {
    padding:.375rem 0 0 0;
	}
	.bar-width-mob span {
    border: 2px solid #D30000;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
	}
	.top-header {
    margin-bottom: 1rem;
	}
	.search-bar-mob {
    margin-top: 1rem;
    margin-bottom: 1rem;
	}
	.pickup-selection.pickup-selet-mob.form-group {
    margin: 1rem 0;
	}
	.main-content {
    width: 100%;
	}
	.food-col {
    width: 20%;
    flex: 0 0 20%;
    margin-bottom: 1rem;
	}
	h5.shop-title {
    font-size: 18px;
	}
	.add-title {
    font-size: 12px;
	}
	.rating-star span {
    font-size: 12px;
	}
	.rating-total p {
    font-size: 12px;
	}
	.applicable-details {
    text-align: left;
    margin-top: 1rem;
	}
	.shop-add p {
    width: max-content;
	}
	.shop-add p {
    width: max-content;
	}
	.display-drop {
    display: flex;
	}
	.pickup-selection .dropdown .btn{
		font-size:12px;
	}
	span.pickup br{
		display: none;
	}
	.address-title {
    margin: auto 0;
	}
	.pickup-selection .dropdown .btn{
		position:relative; 
	}
	.pickup-selection .dropdown-toggle::after{
		position: absolute;
    top: 9px;
    right: 10px;
	}
	.search-col{
		padding-right:4px;
	}
	.selection-col{
		padding-left:4px;
	}
	.pickup-selection.form-group{
		margin: 0 0;
	}
	.bar-width-mob {
    text-align: right;
	}
	.top-header ul li {
    margin-left: 42px;
	}	
	

}




@media screen and (min-device-width: 992px) and (max-device-width: 1024px){
.pickup-selection  .dropdown-menu {
    width: 100%;
	}
	
	.payment-method label {
    margin-bottom: 1rem;
	}
	

}

@media only screen and (min-width: 1200px) {

}

@media screen and (min-width: 1900px){

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
and (orientation: landscape){
.foo-food-content h6 {
    font-size: 13px;
	}
	.footer-post {
    max-width: 50%;
    flex: 0 0 50%;
	}
	.footer-right ul {
    flex-direction: row;
	}
	.footer-right ul li {
    margin-right: 40px;
	}
	span.total-product {
    right: 28px;
	}
	.payment-col1 {
    padding-right: 8px;
	}
	.payment-col {
    padding-left: 8px;
	}


}
/*@media screen and (min-width: 1400px) and (max-width: 1499px){
  .container {
    max-width: 1400px;
  }
 
}
@media screen and (min-width: 1500px) and (max-width: 1599px) {
  .container {
    max-width: 1400px;


@media screen and (min-width: 1600px) and (max-width: 1920px){
  .container {
    max-width: 1400px;
  }
	.pickup-selection.form-group {
    flex: 0 0 auto;
}
}*/
@media screen and (min-width: 1900px){
	.pickup-selection.form-group {
    flex: 0 0 auto;
}
 .container {
    max-width: 1400px;
  }
}
@media (min-width: 1440px){
	.pickup-selection.form-group {
    flex: 0 0 auto;
}
 .container {
    max-width: 1400px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1439px){
	.pickup-selection.form-group {
		flex: 0 0 auto;
	}
	.container {
		max-width: 100%;
	}
}
