@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: #D30000;
    box-shadow: none;
}
#home-bg{
    background-color: #F7F7F7;
}
/*===============header design-=======================*/
header#header {
    background: white;
    border-bottom: 1px solid #E5E5E5;
}

.top-header{
     background-image: -moz-linear-gradient( 86deg, rgb(205,0,0) 0%, rgb(201,1,1) 100%);
  background-image: -webkit-linear-gradient( 86deg, rgb(205,0,0) 0%, rgb(201,1,1) 100%);
  background-image: -ms-linear-gradient( 86deg, rgb(205,0,0) 0%, rgb(201,1,1) 100%);
    height: 37px;
    line-height: 37px;
    margin-bottom: 1.3rem;
}
.top-header ul li {
    list-style: none;
    margin-left: 45px;
}
.top-header .content-right{
    float: right;
    margin-right: 1.2rem;
}
.top-header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}    

.top-header ul li:after {
    content: "|";
    color: white;
    position: relative;
    left: 18px;
}
.top-header ul li:last-child:after {
    content: close-quote;
}
.search-bar {
    position: relative;
}
.search-bar i {
    position: absolute;
    top: 0;
    right: 0;
    background: #C10000;
    color: white;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-bar i:hover {
    background: #b31f1d;
    border-color: #b31f1d;
    cursor: pointer;
}
.mid-head-details {
    display: flex;
    margin-bottom: 8px;
}
.flex-col{
    flex: 1 1 0%;
}
.head-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.search-bar .form-control {
    border-radius: 4px;
    height: 44px;
    border-color: rgb(197, 197, 197);
    font-size: 16px;
    padding-left: 8px;
}
.pickup-selection .form-control{
    border-radius: 4px;
    border-color: rgb(197, 197, 197);
    font-size: 13px;
}
.logo-width {
    margin: auto 0;
    margin: auto 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right:8px;
    width: 156px;
}

.search-bar {
      flex: 1 1 0%;
    margin: 0px 4px 0px 0px;
}
.input-search{
-webkit-box-flex: 1;
    flex-grow: 1;
}

.pickup-selection.form-group {
    margin-bottom: 0;
    flex: 1 1 0%;
    margin: 0px 4px;
}
.cart-width{
    margin: auto 0;
    cursor: pointer;
    background: #C10000;
    color: #fff;
    width: 70px;
    padding: 10px 15px;
    border-radius: 4px;
    height: 44px;
}
.cart-width img{
    max-width: 16px;
}
.owl-carousel .owl-item img {
    width: auto!important;
}
.owl-carousel .owl-item .food-img img{
    width: 92% !important;
}
.avg-details img {
    display: inline-block!important;
}
.cart-width img{
 position: relative;
}
span.total-product {
    top: 9px;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    right: 15px;
}
.bottom-header ul.navbar-nav.menu-details {
    margin: 0 auto 8px auto;
}
.bottom-header .navbar{
    padding:0;
}
ul.navbar-nav.menu-details li a {
    font-size: 16px;
    color: rgb(66, 64, 70);
    font-weight: 600;

}
ul.navbar-nav.menu-details.landing1 li a {
    font-size: 16px
}
ul.navbar-nav.menu-details li {
    padding-right: 18px;
}
.pickup-selection .filter-option-inner {
    font-weight: 700;
    font-size: 14px;
}
.pickup-selection .filter-option-inner span{
    font-weight: 400;
    vertical-align: middle;
}
.pickup-selection .filter-option-inner span:last-child {
    font-weight: bold;
    vertical-align: middle;
}
/*===============/header design-=======================*/
.sidebar-content{
    width:205px;
}
.main-content{
    width: calc(100% - 205px);
    margin: 1rem 0;
    padding: 0px 20px;
}
.main-contain{
    padding: 0px;
}

/*====================sidebar===========================*/
.sidebar-menu ul li {
    list-style: none;
}
.sidebar-menu {
    background: white;
    height: 100%;
    overflow: hidden;
    min-height: calc(100% - 169px);
}
.sidebar-menu-details{
    padding:1rem;
    padding-left: 0px;
}
/*====================/sidebar===========================*/


/*====================landing page===========================*/
.banner-img img {
    width: 100%;
    border-radius: 5px;
}
.row.food-row {
    padding-left: 15px;
}
.food-col {
    width: 20%;
    padding-right: 15px;
    flex: 0 0 20%;
}

.sidebar-menu ul h6 {
    font-weight: bold;
        margin-bottom: 14px;
}
.sidebar-menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    font-weight: 400;
}
.sidebar-menu.landing1 ul li a{
    font-size: 15px;
}
.sidebar-menu ul li {
    margin-bottom: 4px;
    margin-left: 15px;
}
.food-details {
    border: 1px solid #eee;
    padding-bottom:8px;
    border-radius: 5px;
    background: white;
    position: relative;
}
.food-info{
    display: flex;
    justify-content: space-between;
}
.food-background{
    background: white;
    padding: 1.5rem 1.2rem;
      border: 1px solid #f2eeee;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.food-content {
        text-align: left;
    padding: 0 0.625rem;
    border-top: 2px solid #eee;

}
.food-img {
    min-height: 180px;
    position: relative;
}
.food-img img {
    width: 92%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
}
.add-title {
    font-size: 13px;
    margin-top:0.7rem;
    margin-bottom:0;
    color: #414142;
    overflow:hidden;
    font-weight: 600;
    line-height: 17px;
    width:100%;
}
.avg-details {
    margin: 5px 0px 0px
}
.avg-details span{
    font-size:12px;
    color: #535353;
    font-weight: 500;
}
.avg-details img {
    margin-left: 7px;
}
.rating-total {
    display: inline-block;
    margin-left: 5px;
}
.rating-star {
    display: inline-block;
}
.rating-star span {
    color: #EEC02A;
    font-size: 11px;
}
.rating-star span.star-disable {
    color: #E5E5E5;
}
a.btn.btn-cart {
    background: #D30000;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition:all 0.3s ease-in-out;
    height: 38px;
    transform: scale(0.95);
    border-radius: 300px;
}
a.btn.btn-cart:hover {
    background: #b31f1d;
    border-color: #b31f1d;
    transform: scale(1.01);
}
.button {
    width: 100%;
    height: 36px;
    padding: 10px 25px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    background: #D30000;
    transition: all .2s ease-out 0s;
}
.button:hover > span {
    top: -20px;
    opacity: 0;
}
.button:hover > i {
    opacity: 1;
    font-size: 15px;
    top: 50%;
    color: #ffffff;
}

.button-name,
.button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease-out;
}

.button-name {
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
}

.button-icon {
    opacity: 0;
}
.subscribe-btn a.btn.btn-cart {
    padding: 7px;
}

a.btn.btn-list {
      font-size: 13px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0px;
    font-weight: 600;
}
h6.food-price {
    font-size: 13px;
    font-weight: 700;
    margin-top: 7px;
    color: #333;
}
h6.food-price span {
    color: #8b8b8b;
    font-weight: 500;
    font-size: 12px;
    padding-left: 8px;
    
}
h6.discount-details {
    font-size: 12px;
    color: #D30000;
    font-weight: 600;
}
.rating-total p {
    margin-bottom: 0px;
    color: #0066c0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.food-shop {
    margin-top: 2.5rem;
}
.food-shop img{
    border-radius: 5px;
}
h5.shop-title {
    margin-bottom: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}
h5.title-big{
    font-size: 18px;
}
.shop-title.landing1{
    font-size: 17px;
}
a.more-details {
    display: inline-block;
    color: #0066c0;
    font-weight: 500;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
}
p.shop-subtitle {
    font-size: 14px;
    margin-bottom: 0;
}
p.shop-subtitle.landing1{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    float: none;
    width: max-content;
    color: #fff;
}
.grocery-details {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.sec-banner{
    margin-top: 2.5rem;
}
.owl-prev, .owl-next {
    font-size: 0;   
}

.owl-prev:before {
    content: "\f104";
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    line-height: 48px;
    width: 30px;
    height: 48px;
    text-align: center;
    color: #888;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid #f2eeee;
    top: calc(50% - 24px);
    left: -9px;
    background: white;
    box-shadow: 0 3px 3px 0 #ccc;
}
.owl-next:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    font-size: 25px;
    line-height: 48px;
    width: 30px;
    height: 48px;
    text-align: center;
    color: #888;
    border-radius: 5px;
    padding: 0px 10px;
    right: -9px;
    top: calc(50% - 24px);
    border: 1px solid #f2eeee;
    background: white;
    box-shadow: 0 3px 3px 0 #ccc;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block!important;
}
/*.owl-stage {
    right: 60px;
}*/
.visa-card {
    display: flex;
    justify-content: space-between;
}
/*====================/landing page===========================*/


/*====================footer details================*/
.top-footer {
    background: black;
    padding: 2rem 0;
}
.foo-food-content h6 {
    color: white;
    font-weight: 600;
    font-size: 14px;
}
ul.footer-menu {
    list-style: none;
    padding: 0;
}
ul.footer-menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
ul.footer-menu li {
    margin-top: 0.8rem;
}
.foo-food-details {
    display: flex;
    margin-top: 1.4rem;
}
.foo-food-content {
    margin: auto 14px;
}

.middle-footer {
    background: #333332;
    padding: 2rem 0;
}
.farmer-details p {
    color: white;
    font-size: 14px;
}
.recent-posts ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.recent-posts ul li {
    border-bottom: 1px solid #474747;
    padding-bottom: 5px;
}
h6.foo-title {
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 12px;
}
.recent-posts ul li {
    margin-bottom: 10px;
    list-style: none;
}
.inputs-control {
    font-size: 14px;
}
.contact-content h6 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}
.contact-content p {
    font-size: 14px;
    margin-bottom: 0;
    color: white;
}
.contact-content {
    margin-bottom: 0.7rem;
}
p.call-info span {
    font-weight: bold;
}
.contact-details ul li {
    list-style: none;
}
p.address-sec {
    margin-top: 0.8rem;
}
.footer-shop-info {
    max-width: 37%;
}
.footer-post {
    max-width: 38%;
    flex: 0 0 38%;
    padding-right: 48px;
    padding-left: 48px;
}
p.farmer-subtitle {
    padding: 1.3rem 0;
}
hr.divider {
    border-color: #474747;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.bottom-footer{
    background-color:#D30000;
    padding: 0.5rem 0;
}
p.copyright-content {
    color: white;
    margin-bottom: 0;
    font-size: 14px;
}
.footer-right ul li {
    list-style: none;
    margin-left: 28px;
}
.footer-right ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.footer-right {
    float: right;
}
.copyright-details{
    margin: auto 0;
}
.charge-title {
    font-weight: 500;
    margin-left: 1.5rem;
    color: white;
    display: inline-block;
    margin-bottom: 0;
}
/*===========================/footer======================>


/*====================personal information===========================*/
.card-details{
    border:1px solid #E5E5E5;
    background-color: white;
    padding:1rem;
}
.row-margin {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
h6.account-title {
    font-weight: bold;
}
.account-details ul li .nav-link {
    padding: .3rem 0rem;
    font-size: 13px;
    color: #414141;
}
.account-details ul li .nav-link.active {
    color: #D30000;
    text-decoration: underline;
    font-weight:600;
}

.account-details {
    margin-bottom: 1rem;
}
.info-control {
    border-color: #C4C4C4;
    height: 44px;
    font-size: 13px;
}
.form-row.form-info label {
    color: #333333;
    font-size: 13px;
}
.account-details:last-child {
    margin-bottom: 0;
}
.update-btn a.btn.btn-cart {
    padding: 0.6rem 2rem;
    width: auto;
}
h6.account-title.info {
    margin-top: 8px;
}
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 43px;
    height: 22px;
    right: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  background-color: #E9E9E9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  background-color:#D30000;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #5b5b5b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.offer-details h6{
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 600;
}
.offer-details p{
    font-size: 13px;
    margin-bottom: 0;
    color: #696969;
}

.toggle-switch{
    margin:auto 0
}
.list-details {
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    padding: 1rem 0;
}
.list-details:first-child {
    padding-top: 0;
}
.list-details:last-child {
    border-bottom:0;
}
.form-group.npassword {
    position: relative;
}
.form-group.npassword i {
    position: absolute;
    top: 44px;
    right: 12px;
    color: #C4C4C4;
}
.address-details {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
}
p.country-add {
    margin-bottom: 0.4rem;
    font-size: 11px;
    color: #333333;
}
p.country-contact {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 11px;
}
h6.user-title {
    font-size: 14px;
    font-weight: bold;
}
.add-edit {
    text-align: right;
}
.add-edit a {
    color: #D30000;
    font-size: 12px;
    font-weight: 600;
}
p.crd-title {
    font-size: 10px;
    color: #333333;
    margin-bottom: 5px;
    font-family: poppins;
}
h6.crd-holder-name {
    font-size: 13px;
    font-family: 'Poppins';
    color: #333333;
    margin-bottom: 0;
}
.card-number span {
    color: #333333;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-right: 10px;
}
.card-number {
    margin-top: 14px;
    margin-bottom: 14px;
}
.visa-card i {
    cursor: pointer;
}
.payment-col1 {
    padding-right: 8px;
}
.payment-col {
    padding-left: 8px;
}

/*====================personal information===========================*/

/*========================delivery order page========================*/
.dpro-display {
    display: flex;
}
.dpro-details p {
    font-size: 14px;
    margin-bottom: 0;
}
.dpro-details {
    padding-left: 12px;
}
.order-table .table thead th {
    border-bottom: 1px solid #E5E5E5;
    border-top: 0;
    padding-top: 0;
}
.order-table td {
    font-size: 14px;
}
.order-table .table td, .table th {
    padding: .95rem 0;
    vertical-align: middle;
    border-top: 1px solid #E5E5E5;

}
.order-table .table {
    margin-bottom: 0;
}
a.btn.btn-view {
    font-size: 14px;
    background: #E5E5E5;
    padding: 0.3rem 1rem;
}
.total-orderpage {
    display: flex;
    justify-content: space-between;
}
.total-orderpage p{
    font-size:12px;
    color: #696969;
    margin-bottom:0;
}
.page-details {
    margin: auto 0;
}
.chevron-icon i {
    width: 28px;
    height: 28px;
    background: #F2F2F2;
    text-align: center;
    line-height: -4px;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 7px;
    color: #C4C4C4;
    margin-right: 0.5rem;
}
.order-successful {
    background: white;
    border-radius: 5px;
    text-align: center;
    width: 450px;
    padding: 2.5rem 5rem;
    margin-top: 6rem;

}
.orders-title{
    font-weight: bold;
    margin-bottom: 5px;
}
.orders-id{
    font-size:14px;
    color: #333333;
    font-weight:600;
        margin-bottom: 0;
}
.orders-subtitle{
    color: #696969;
    font-size:14px;
    font-weight:600;
    margin-bottom: 1.8rem;
}
.tick-icon {
    height: 85px;
    width: 85px;
    margin: auto;
    border: 3px solid #00CC14;
    border-radius: 50%;
    line-height: 85px;
    margin-bottom: 1rem;
    cursor:pointer;
}
.tick-icon i {
    font-size: 32px;
    color: #00CC14;
}
.chevron-icon i.active{
    background-color: red;
    color: white;
}
/*========================/delivery order page========================*/

/*=================order details page=======================*/
.order-breadcrumb .breadcrumb  {
    padding: 8px 0;
    background-color: transparent;
}
.order-breadcrumb a {
    color: #D30000;
    background-color: transparent;
}
.order-breadcrumb a:hover {
    color:  #D30000;
    text-decoration: none;
}
.order-breadcrumb .breadcrumb-item.active {
    color: #333333;
    font-weight: bold;
}
.order-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #333333;
}
.order-address{
    display: flex;
}
.op-title{
    font-size:15px;
    font-weight:600;
    margin-bottom:0;
}
.oadd-details {
    margin-left: 8px;
}
.oadd-details p{
    font-size:14px;
    font-weight:600;
    margin-bottom:0;
}
.order-date p{
    margin-bottom:0;
    color: #333333;
    font-size:14px;
}
.order-status{
    text-align: center;
}
.order-status h6{
    font-size:14px;
    font-weight:600;
    color: #333333;
}
.order-status h6.ostatus-deliver{
    color: #00A560;
}
.grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 1px solid #C4C4C4;
    position: absolute;
    top: -16px;
    bottom: -17px;
    margin-left: -19px;
    }
.order-notes p {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 1rem;
}
.order-notes p span{
    font-weight:600;
}
.ostatus-col {
    margin: auto;
}

.order-card{
    margin-top: 1rem;
}
.select-reorder {
    display: flex;
    justify-content: space-between;
}
/*=============checkbox==============*/
/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    font-family: nunito;
    margin-bottom: 0;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #D30000;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

a.btn.btn-reorder {
    background: #D30000;
    color: white;
    font-size: 13px;
    font-weight: 600;
    height: 30px;
    width: 114px;
}
.custom-check {
    margin: auto 0;
}
.select-add{
    display: flex;
}
.table td, .table th {
    padding:0;
    vertical-align: middle;
    padding-bottom: 0.75rem;
}
.shop-add p{
    font-size:12px;
}
th.col-three {
    width: 31%;
}
th.col-two {
    width: 60%;
}
.shop-add p {
    font-size: 12px;
    width: 75%;
    margin-bottom: 0;
}
.food-check .check {
    padding-left: 30px;
}
.food-check .checkmark {
    top: -10px;
}

.shop-add {
    margin: auto 10px;
}
.odfood-qty{
    font-size:11px;
    font-weight:bold;
    color: #D30000;
}
.table {
    margin-bottom: 0;
}

.odfood-table h6{
    color: #333333;
    font-weight: 600;
}

/*=============checkout page================*/
a.btn.btn-change {
    border: 1px solid #D30000;
    font-size: 12px;
    font-weight: 600;
    width: 153px;
    height: 34px;
}
.pickup-details {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 1rem;
}
.checkout-title{
    font-weight: bold;
    font-size:18px;
    font-family: nunito;
    margin-bottom:1rem;
}
/*=========custom css for add category page for select category===========*/
input[type="radio"][id^="myradio"] {
  display: none;
}
input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}
.payment-method label {
    border: 1px solid #959595;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
   width: 295px;
    padding: 1rem;
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 0;
}
.payment-method.contact-info label {
   width: 231px;
}
.payment-method :checked + label {
  border-color: #D30000;
}
.cf-subtitle{
    margin-bottom:0;
    margin-top:10px;
    font-size:14px;
    color: #696969;
    margin-right: 12px;
}
.review-top h6 {
    display: inline-block;
}
.review-top a {
    font-size: 12px;
    color: #D30000;
    font-weight: 600;
    margin-left: 1rem;
}
.review-content p{
    font-size:14px;
    font-weight:600;
     color: #333333;
     margin-bottom:0;
}
.review-content p span{
    color: #D30000;
}
.review-price p{
    font-weight: bold;
    margin-bottom:0;
}
.review-right {
    margin: auto;
}
.sub-1 p{
    font-size: 14px;
    margin-bottom:0;
}
.amt-minus p{
    color: #00A560;
}
.amt-plus p{
    color: #D30000;
}
.amt-total p{
    font-weight: bold;
    font-size:16px;
}
hr.amt-border {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pro-chbtn a.btn.btn-cart{
    padding: 5px;
    margin-top:10px;
}
.coupon-details{
    margin-top:14px;
}
.coupon-details input{
    height:40px;
}
.coupon-details .input-group-text {
    font-size: 13px;
    color: white;
    background-color: #D30000;
    border: 1px solid #D30000;
    border-radius: .25rem;
    cursor: pointer;
}
.amt-subtitle p{
    font-size:12px;
}
.est-total p{
    font-size:18px;
    font-weight:600;
    margin-bottom:0
}
.est-total p span{
    color:#D30000;
}
.bottom-chebtn .btn.btn-cart {
    width: 240px;
    padding: 5px;
}
.est-total p span {
    color: #D30000;
    margin-left: 20px;
}
.cart-total {
    margin: auto;
}
.est-total {
    margin: auto;
}
.checkout-main{
    font-size:22px;
    font-weight: 600;
    margin-top: 1rem;
}
.row-second {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*=========end custom css for add category page for select category===========*/
.emtycart h6{
    color: #2E3A59;
    font-weight: 600;
    margin-top: 1.4rem;
}
a.btn.btn-offers {
    color: #D30000;
    width: 150px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 25px;
    padding: 13px 0px;
    height: 45px;
}
.applicable-details{
    text-align: right;
}
.cart-food-details h6.checkout-title {
    margin-top: 1.2rem;
}
.add-notes{
    font-size:12px;
    color: #696969;
}
.item-content p{
    font-size:11px;
    margin-bottom:5px;
}
.item-content {
    margin-left: 7px;
}
#item-content .owl-prev:before {
    top: 40%;
    left: -35px;
}
#item-content .owl-next:before {
    top: 40%;
    right: -35px;
}
h6.checkout-title.amt-info {
    text-align: center;
}

.scrollbar
{
    height:567px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.force-overflow
{
    min-height: 450px;
}

.cart-item-details.ct-info {
    padding-right: 5px;
}


#style-4::-webkit-scrollbar
{
    width: 5px;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: red;
    border-radius: 20px;
}


.card-details.order-card.amt-item {
    padding-right: 4px;
}

.skin-5 .num-in {
  width: 107px;
  float: left;
    vertical-align: middle;
    position: relative;
    border: 1px solid #EEEFF1;
    border-radius: 3px;
}
.product-quantity-cart {
    margin: 0 20px;
}
input.in-num:focus {
    outline: 0!important;
    background: none;
}

.skin-5 .num-in span {
   font-size: 18px;
    width: 20px;
    display: block;
    line-height: 28px;
}

.skin-5 .num-in span.minus {
    float: left;
    text-align: right;
    cursor: pointer;
}

.skin-5 .num-in input {
      border-left: 1px solid #E5E5E5;
    height: 28px;
    width: 46px;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-right: 1px solid #E5E5E5;
    border-top: none;
    border-bottom: none;
    margin-left: 11px;
}

.skin-5 .num-in span.plus {
    float: right;
    text-align: left;
    cursor: pointer;
}
.ct-price {
    margin-right: 2px;
}
.ct-price p{
   margin-right:20px;
}
.ct-check .check{
    font-size:14px;
}
 .ct-table td, .ct-table th{
    padding-bottom:0;
}
.pickup-selection.cart-selection {
    width: 100%;
}
.pickup-selection.cart-selection button.btn.dropdown-toggle.btn-light {
    border-radius: 25px;
}
/*==================Food cart details=========================*/


/*===============popup design=================*/
.modal-header.pickup-modal {
    padding-bottom: 0;
    padding-top: 0.5rem;
    border-width: 2px;
    border-color: #C4C4C4;
}
.delivery-modal .modal-content{
    border-radius:10px;
}
.pickup-modal .nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 18px;
    color: black;
    font-weight: 600;
    font-family: 'Nunito';
    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
}
.delivery-modal  .modal-dialog {
    max-width: 650px;

}
.pickup-modal .nav-tabs {
    border-bottom: 0;
}
.pickup-modal .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #D30000;
}
.pickup-info label h6.user-title {
    font-size: 16px;
    font-weight: 600;
}
.pickup-info label p.country-contact {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.payment-method.pickup-info :checked + label h6{
    color: #D30000;
}
.pickup-date.payment-method label {
    width: auto;
    border: 0;
}
.date-custom-select .payment-method label {
    border: 0;
    width: auto;
    padding: 0.5rem 0rem;
}
.date-custom-select .payment-method h6.user-title {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 4px;
}
.date-custom-select .payment-method p {
    font-size: 8px;
    margin-bottom: 0;
        color: red;

}
.payment-method.pickup-info  label{
    border-color: #E5E5E5;
}
.pikcup-date.payment-method {
    text-align: center;
}
.table td, .table th {
    padding: 0;
    vertical-align: middle;
    padding-bottom: 0;
}
h6.date-selection {
    font-weight: 600;
    margin-top: 1rem;
}
.date-custom-select .table-bordered td, .table-bordered th {
    border: 1px solid #E5E5E5;
}
.pikcup-date.payment-method :checked + label{
    background-color: red;
    width: 100%;
    border-radius: 0;
}
.pikcup-date.payment-method :checked + label h6{
    color: white;
}
.pikcup-date.payment-method :checked + label p{
    color: white;
}
table.table.table-bordered.time-table {
    margin-bottom: 0.5rem;
}
.schedule-btn{
    background-color: white;
    padding: 1rem;
    box-shadow: 1px -8px 5px 0px rgba(0,0,0,0.05);
-webkit-box-shadow: 1px -8px 5px 0px rgba(0,0,0,0.05);
-moz-box-shadow: 1px -8px 5px 0px rgba(0,0,0,0.05);
}
.schedule-btn a.btn.btn-cart {
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}
.payment-method.delivery-info label{
    width:190px;
    border-color: #E5E5E5;
}

.delivery-content h6 {
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}
.payment-method.delivery-info :checked + label{
    background-color: #D30000;
}
.payment-method.delivery-info :checked + label h6{
    color: white;
}
.delivery-content{
    display: flex;
    justify-content: space-between;
}
.payment-method.pickup-info :checked + label {
    border-color: #D30000;
}
h6.date-selection.address-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
a.new-addbtn {
    font-size: 13px;
    color: #D30000;
    text-decoration: none;
}

/*============landing page css============*/

.top-img img {
    display: inline-block;
    margin-bottom: 6px;
    position: relative;
    max-width: 18px;
}
.top-img img.p{
    right: -1.5px;
}
.top-img img.b{
    max-width: 20px;
}
.top-img {
    position: absolute;
    top: 4px;
    right: -2px;
    width: 25px;
    z-index: 9;
}
.pick-marker {
    position: absolute;
    top: 7px;
    left: 0px;
    z-index: 9;
    width: 65px;
}
.pick-marker p{
    display: none;
}
img.vector-img {
    position: relative;
    max-width: 100%;
}
.pick-marker p {
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: -8px;
    font-weight: 700;
    left: 9px
}
.food-col.item-content-col {
    margin-top: 1rem;
}


/*=============custom selection===============*/
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: 0;
}

.pickup-selection .dropdown-menu {
    padding: 0;
}
.pickup-selection .dropdown-item {
    padding-left: 12px;
    font-size: 14px;
}
.pickup-selection .dropdown-item span i{
    margin-right:8px;
    font-size:16px;
}
.pickup-selection .dropdown-item:focus {
    outline: 0;
}
.pickup-selection .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: red;
}
.pickup-selection .bootstrap-select .dropdown-menu li {
    position: relative;
    margin-bottom: 7px;
}

.pickup-selection .filter-option-inner-inner i {
    margin-right: 6px;
    color: #575757;
    font-size: 26px;
    vertical-align: middle;
}
.pickup-selection button.btn.dropdown-toggle.btn-light {
    border-radius: 4px;
    border-color: #C4C4C4;
    background: transparent;
    font-size: 13px;
    padding: 7px .55rem;
    color: #333333;
}
.pickup-selection .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.8em;
    vertical-align: middle;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #2E3A59;
    font-weight: 800;
}
/*=============/custom selection===============*/

.odfood-table .table td, .table th {
    padding-bottom: 1rem;
}

/*.owl-carousel .food-details .pick-marker{*/
/*    top: 7px;*/
/*    left: 7px;*/

/*}*/

/*==============modal for navbar===============*/
.sidebar-modal.modal.left .modal-dialog
{
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.sidebar-modal.modal.left .modal-dialog
 {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.sidebar-modal.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.sidebar-modal.modal.left .modal-body {
  padding:0;
}

.sidebar-modal.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.sidebar-modal.modal.left.fade.show .modal-dialog {
  left: 0;
}


.sidebar-modal.modal.left .modal-content
{
  border-radius: 0;
  border: none;
}

.sidebar-modal.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 250px;
}
.sidebar-modal .modal-header {
    padding: .5rem 1rem;
}
.dropdown.bootstrap-select.form-control:hover {
    background-color: #e8e8e8;
}




.pickup-selection .dropdown .btn{
    cursor: pointer;
    background: transparent;
    margin: 0px;
    border-radius: 4px;
    border: 1px solid rgb(197, 197, 197);
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    height: 44px;
    width: 100%;
}
.pickup-selection .dropdown img {
    margin-right: 10px;
}
span.pickup{
    font-weight:700;
}
















